@using BlogSitem.DLL.BlogSiteDatabase

<div class="blog-comments">

    <h4 class="comments-count">@ViewBag.yorumSayisi Yorum</h4>
    @{
        string makaleId = TempData["makaleID"].ToString();
    }

    <input type="text" id="makaleID" name="name" value="@makaleId" hidden />

    @foreach (var item in (List<Sp_YorumlarDOM>)TempData["makaleYorumlariGetir"])
    {
        if (item.YorumUstID == 0)
        {
            <div class="comment">
                
                <div class="d-flex">
                    <div class="comment-img"><img src="~/template/assets/img/blog/comments-2.jpg" alt=""></div>
                    <div>
                        <h5><a href="">@(item.Adi + " " + item.Soyadi)</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevap Yaz</a></h5>
                        <time datetime="2020-01-01">@item.YorumTarihi.ToShortTimeString()</time>
                        <p>
                            @item.Yorum
                        </p>
                    </div>
                </div>
                <!-- Alt Yorum -->
                @foreach (var itemAltYorum in (List<Sp_YorumlarDOM>)TempData["makaleAltYorumlari"])
                {
                    if (itemAltYorum.YorumUstID == item.YorumID)
                    {
                        <div id="comment-reply-1" class="comment comment-reply">
                            <div class="d-flex">
                                <div class="comment-img"><img src="~/template/assets/img/blog/comments-3.jpg" alt=""></div>
                                <div>
                                    <h5><a href="">@(itemAltYorum.Adi + " " + itemAltYorum.Soyadi)</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevap Yaz</a> <a href="#" class="reply"> <i class="bi bi-trash"></i></a>  </h5>
                                    <time datetime="2020-01-01">@itemAltYorum.YorumTarihi.ToShortDateString()</time>
                                    <p>
                                        @itemAltYorum.Yorum
                                    </p>
                                </div>
                            </div>
                        </div><!-- Alt yorum kapanışı #1-->
                    }

                }
            </div><!-- Yorum kapanışı #2-->
        }
    }

<div class="reply-form">
    <h4>Yorum Yap</h4>
    <p>Yorum yapabilmek için lütfen giriş yapın.* </p>
    @if (Session["userName"] != null)
    {
        @*<input type="text" name="name" id="kullaniciId" value="@ViewBag.kullaniciId" hidden />*@
        <div class="row">
            <div class="col-md-6 form-group">
                <input name="name" id="comment-name" type="text" class="form-control" placeholder="Kullanıcı Adınız*">
            </div>
            <div class="col-md-6 form-group">
                <input name="email" id="comment-email" type="text" class="form-control" placeholder="Email*">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <textarea name="comment" id="comment-message" class="form-control" placeholder="Yorumunuz"></textarea>
            </div>
        </div>
        <input type="submit" onclick="YorumKaydet()" class="btn btn-primary" value="Yorum Gönder" />
    }
    else
    {
        @Html.ActionLink("Yorum Yap", "GirisIndex", "Kullanici", new { id = makaleId }, new { @class = "btn btn-primary" })
    }

</div>
</div><!-- End blog comments -->