@model BlogSitem.DLL.BlogSiteDatabase.Makaleler

@{
    ViewBag.Title = "AdminMakaleSil";
    Layout = "~/Areas/AdminManager/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                </h1>
            </div>
            <div class="col-sm-6">

                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminManager/AdminMakaleler/AdminMakalelerIndex">Makaleler Pasif Et</a></li>
                    <li class="breadcrumb-item active">Makale Pasif Et</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Makaleler</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MakaleID)


                            <div class="form-group">
                                @Html.LabelFor(model => model.AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.AktifMi)
                                        @Html.ValidationMessageFor(model => model.AktifMi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Pasif Et" class="btn btn-default" />
                                </div>
                            </div>
                            <div>
                                @Html.Raw(ViewBag.mesaj)
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
