@model BlogSitem.DLL.BlogSiteDatabase.Sp_MakaleListesiDOM

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="~/Anasayfa/AnasayfaIndex">Anasayfa</a></li>
                <li><a href="~/Makale/MakaleIndex">Makaleler</a></li>
                <li>Makale</li>
            </ol>
            <h2>@Model.Baslik</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-3">
                    @Html.Partial("_Kategoriler")
                </div>
                <div class="col-lg-9 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="~/template/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">@Model.Baslik</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">@Model.YazarAdSoyad</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">@Model.EklenmeTarihi.ToShortDateString()</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">@ViewBag.yorumSayisi Yorum</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                @Model.MakaleIcerik
                            </p>
                            <blockquote>
                                <p>
                                    Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                                </p>
                            </blockquote>

                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#">Business</a></li>
                            </ul>

                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div>

                    </article>

                    <div class="blog-author d-flex align-items-center">
                        <img src="~/template/assets/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
                        <div>
                            <h4>Jane Smith</h4>
                            <div class="social-links">
                                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                            </div>
                            <p>
                                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                            </p>
                        </div>
                    </div>
                    @Html.Partial("_Yorumlar")

                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/siteScript/yorumlar.js"></script>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

